<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/main.css">
    <script src="js/scripts.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  </head>
  <body>
    <section id="header">
      <a href="#">
        <img src="/public/img/logo.png" class="logo">
      </a>
      <div>
        <ul id="navbar">
          <li>
            <a href="index.ejs">Home</a>
          </li>
          <li>
            <a  class="active" href="shop.ejs">Produit</a>
          </li>
          <li>
            <a href="about.ejs">About</a>
          </li>
          <li>
            <a href="cart.ejs">Panier</a>
          </li>
        </ul>
      </div>
    </section>
    <section id="prodetails" class="section-p1">
      <div class= "single-pro-image">
        <img src="/public/img/6TN.png" width="100%">
      </div>
      <div class="single-prod-details">
        <h6>Accueil / Produit</h6>
        <h4>Brique de 6 Trous</h4>
        <h2>1.25dh/Unité</h2>
        <input type="number" value="1">
        <button class="cart-btn">
          Ajouter au panier
        </button>
        <p><strong>Dimension:</strong> 16*27*6.5</p>
        <p><strong>Qte/m2:</strong>  23</p>
        <p><strong>Poids:</strong>  1.900g</p>
        <p><strong>Rendu à 40km:</strong>  1.40</p>
      </div>
    </section>
    <footer class="section-p1">
      <div class="col">
        <img class="logo" src="/public/img/logo-white-12.png">
      </div>
      <div>
        <h4>Contact</h4>
        <p><strong>Adresse:</strong> Route De Meknes – Oulja, Salé B.P 260 Rabat</p>
        <p><strong>Service client:</strong> +212 660 048 825 / +212 663 555 990</p>
        <p><strong>Email:</strong> contact@briqueterieslaoui.ma</p>
      </div>
    </footer>
  </body>
</html>